<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kms.mapper.KnowledgeMapper">

    <select id="selectPageByFilters" resultType="com.kms.entity.KnowledgeDO">
        SELECT k.*
        FROM knowledge k
        <where>
            <if test="p.relatedCategories != null && !p.relatedCategories.isEmpty()">
                AND k.category_name IN
                <foreach collection="p.relatedCategories" item="rc" open="(" separator="," close=")">
                    #{rc}
                </foreach>
            </if>
            <if test="p.title != null and p.title != ''">
                AND k.title LIKE CONCAT('%', #{p.title}, '%')
            </if>
            <if test="p.keywords != null and p.keywords != ''">
                AND k.keywords LIKE CONCAT('%', #{p.keywords}, '%')
            </if>
            <if test="p.status != null">
                AND k.status = #{p.status}
            </if>
            <if test="p.tagName != null and p.tagName != ''">
                AND k.tag_name = #{p.tagName}
            </if>
            <if test="p.visibilityName != null and p.visibilityName != ''">
                AND k.visibility_name = #{p.visibilityName}
            </if>
            <if test="p.questionNo != null">
                AND k.question_no = #{p.questionNo}
            </if>
            <if test="p.startDate != null">
                AND DATE(k.created_at) <![CDATA[ >= ]]> #{p.startDate}
            </if>
            <if test="p.endDate != null">
                AND DATE(k.created_at) <![CDATA[ <= ]]> #{p.endDate}
            </if>
        </where>
        ORDER BY k.created_at DESC
    </select>

</mapper>
